/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  
}
nav{
  background-color:#06365f ;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  
}
nav > img{
width: 300px;
background-size: cover;
height: 80px;
align-items: center;
padding-left: 550px;
padding-right: auto;
padding-top: 200px;
}
nav > a {
  padding-left: 40px;
  padding-right: 300px;
  padding-top: 230px;
  color: white;
  
}

 h1{
  color:#1c5380 ;
  width: 400px;
}
#section1 {

  margin-top: -100px;
  
}
#section1 img{
  margin-left: 110px;
  margin-top: -100px;
 
}
#section1  .box-text{
  display: inline;
  float:right;
 width: 30%;
 background-color: white;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 margin-right: 390px;

}
.box1 {
  display: inline;
 width: 50%;
 float: left;
 margin-left: -100px;
 margin-top: 55px;
  
}
.box2 {
  display: inline;
 width: 30%;
 float: right;
 margin-top: 55px;
 margin-right: 180px;
}
.box-text p{
  margin-top: -20px;
}

footer{
  display:inline;
  clear: both;
  text-align: center;
  color: #1c5380;
  
}
footer ul li {
  display: inline;
    margin-right: 50px;
    padding: 0px;
    font-size: 10px ;
    color: ;
}

footer ul li a {
  margin: -15px;
}

footer ul .color {
  color: gainsboro;
}